<%- include('partials/_header.ejs') %>
    <%- include('partials/_navigation.ejs') %>
        <div class="dashboard">
            <h1>If you are here your JTW token is valid.</h1>
        </div>

        <%- include('partials/_footer') %>